@font-face {
  font-family: worksans;
  src: url(./assets/fonts/WorkSans-VariableFont_wght.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
  font-family: worksans;
}

.wrapper {
  background-color: #2e2e2e;
  height: 100vh;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 3vh 2vw;
  position: fixed;
  width: 100vw;
}

.links a {
  color: #867772;
  font-size: 2.6rem;
  padding-left: 1.7vw;
}

.links {
  margin-right: 1vw;
}

.parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;

  height: 100vh;
}
.subwoofer {
  background-image: url(./assets/img/section-experience-1.jpg);
  background-repeat: no-repeat;
  background-position: left;
  grid-area: 1 / 1 / 2 / 3;

  background-size: cover;
  width: 100%;
}
aside a {
  font-size: 2.6rem;
  text-transform: uppercase;
  color: #867772;
  display: flex;
  align-items: center;
}

aside a::before {
  content: "◦";
  font-size: 7rem;
  padding-right: 50px;
  margin-left: 1.5vw;
}

aside {
  position: fixed;
  left: 0.8vw;
  top: 20vh;
}

aside div {
  border-left: 1px solid #867772;
  height: 5vh;
  margin-left: 2.05vw;
}
.content {
  grid-area: 1 / 3 / 2 / 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content h1 {
  font-size: 8rem;
  font-weight: 400;

  margin-left: 6vw;
  margin-bottom: 6vh;
  color: #867772;
}
.content p:nth-of-type(1) {
  font-size: 2.8rem;
  font-weight: 300;
  color: #867772;
  margin-left: 6vw;
  margin-right: 10vw;
  margin-bottom: 6vh;
}
.content p:nth-of-type(2) {
  font-size: 2.8rem;
  font-weight: 300;
  color: #867772;
  margin-left: 6vw;
  margin-right: 10vw;
}
